<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/krithik_jain.jpg">
        <link rel="stylesheet" href="./css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>
                This site was created as a project for job.
            </p>
            <img class="portrait" src="/img/x.jpg">
        </div>
        {{>footer}}
    </body>
</html>